<<<<<<< Updated upstream
<div id="welcome">
	<h1>Music Map</h1>
</div>

<div id="home_links">
	<ul>
		<li><a href="#" id="login">LOGIN</a></li>
		<li></li>
		<li><a href="#" id="try">TRY IT OUT</a></li>
	</ul>
</div>
=======
<link rel="stylesheet" href="/assets/home.css">

<div class="home">
	<div id="welcome">
		<h1>Music Map</h1>
	</div>

	<div id="home_links">
		<ul>
			<li><a href="/log_in" id="login">LOGIN</a></li>
			<li></li>
			<li><a href="#" id="try">TRY IT OUT</a></li>
		</ul>		
	</div>

	<div class="sign_up">
		<h1>- OR -</h1>
		<a href="/sign_up">CLICK HERE TO SIGN UP</a>
	</div>
</div>

	
>>>>>>> Stashed changes
