@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.text {
  color: #fff;
  font: 10px sans-serif;
  pointer-events: none;
}

body {

  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.inline li {display: inline;}


#homeNav {
  font-size: 36px;
  margin-right: 720px;
  margin-left: -35px;
}

.navLinks {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
}

.new_message{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
