
#home_links > ul {
  margin-left: 128px;
  list-style-type: none;

}

#home_links > ul > li { 

  display: inline;
  margin-right: 98px;
}

#home_links a{
    color: black;
}

#sign_up{
  margin-left: 50%;
  margin-right: auto;
  font-size: 75px;
}

#user_nav{
  display: none;
}

.sign_up h1{
  font-size: 60px;
  text-align: center;
}

.sign_up a{
  font-size: 70px;
  margin-left: 10%;
  text-decoration: none;
  color:black;
}

a:hover{
  color: #c4273c;
}
